<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <plugins>
        <plugin interceptor="cn.hdj.mybatis.example.intercept.SlowSqlInterceptor">
            <property name="limitSecond" value="0"/>
        </plugin>
    </plugins>

    <!--    标签用于配置环境信息-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:/home/hdj/db/h2db;AUTO_SERVER=TRUE"/>
                <property name="username" value="admin"/>
                <property name="password" value="admin"/>
            </dataSource>
        </environment>
    </environments>
    <!--    Mapper文件-->
    <mappers>
        <mapper class="cn.hdj.mybatis.example.dao1.UserMapper"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <package name="cn.hdj.mybatis.example.dao"/>
    </mappers>
</configuration>